.bg{
    background: linear-gradient(#FF0000,#FFA500,#FFD700);
    align-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eeeeeec9;
    margin-top: 10%;
    margin-right: auto;
    margin-left:auto;
    width: fit-content;
    margin-bottom: 13%;
    color: black;
    font-size: 35px;
}
fieldset{
    padding-left: auto;
    padding-right: auto;
    padding-top: 1%;
    padding-bottom: 1%; 
}
#Resultado{
    font-weight: bold;
    
}